<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="New recipe" data-ng-model="recipeListCtrl.newRecipe.name">
                <span class="input-group-btn">
                    <button class="btn btn-success" type="button" data-ng-click="recipeListCtrl.addRecipe()">+</button>
                </span>
            </div>
        </div>
        <!--//TODO table-->
        <div class="panel-body">
            <ul class="list-group">
                <li data-ng-repeat="recipe in recipeListCtrl.recipes" class="list-group-item">
                    <span class="badge" data-ng-click="recipeListCtrl.removeRecipe(recipe.id)">-</span>
                    <a data-ui-sref="recipe.detail({id:recipe.id})">{{recipe.name}}</a>
                </li>
                <li data-ng-show="recipeListCtrl.isRecipeListEmpty" class="list-group-item">Recipe list is empty</li>
            </ul>
        </div>
    </div>
</div>

<div class="col-md-8">
    <div data-ui-view="detail"></div>
</div>
