<div class="panel panel-info">
    <div class="panel-heading">
        <span class="badge">{{recipeDetailsCtrl.recipe.id}}</span> {{recipeDetailsCtrl.recipe.name}}
        <label class="pull-right">Big amount: <input type="checkbox" data-ng-model="recipeDetailsCtrl.recipe.bigAmount"/></label>
    </div>
    <div class="panel-body">
        <strong>Ingredients:</strong>
        <ul>
            <li data-ng-repeat="ingredient in recipeDetailsCtrl.recipe.ingredients">
                {{ingredient.method}}
                {{ingredient.amount}}
                {{ingredient.unit}} of
                {{ingredient.name}}
            </li>
        </ul>

        <form class="form-inline" data-ng-submit="recipeDetailsCtrl.addNewIngredient()">
            <div class="form-group">
                <select class="form-control" data-ng-model="recipeDetailsCtrl.newIngredient.name">
                    <option value="">Ingredient</option>
                    <option ng-repeat="ingredient in recipeDetailsCtrl.ingredientList" value="{{ingredient.name}}">{{ingredient.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Amount" data-ng-model="recipeDetailsCtrl.newIngredient.amount">
            </div>
            <div class="form-group">
                <select class="form-control" data-ng-model="recipeDetailsCtrl.newIngredient.unit">
                    <option value="">Unit</option>
                    <option ng-repeat="unit in recipeDetailsCtrl.unitList" value="{{unit.name}}">{{unit.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <select class="form-control" data-ng-model="recipeDetailsCtrl.newIngredient.method">
                    <option value="">Method</option>
                    <option ng-repeat="method in recipeDetailsCtrl.cookingMethodList" value="{{method.name}}">{{method.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Add</button>
            </div>
        </form>
    </div>
</div>
